@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

.about-wrap {
  min-height: 500px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.text-container {
  margin-bottom: 50px;

  h1 {
    font-size: 2rem;
    color: #414a4f;
    font-weight: bold;
    letter-spacing: 1.6px;
  }
}

.img-container {
  padding: 0 20px;
  float: left;
  display: flex;
  flex-direction: row;

  p {
    margin-left: 60px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    color: #636366;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
  }
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

@media screen and (max-width: 800px) {
  .img-container {
    flex-direction: column;
    align-items: center;

    p {
      font-size: 0.9rem;
      margin-top: 4rem;
      margin-left: 0;
    }
  }
}
