.about-wrap {
    background-color: white;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
    height: 600px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.about-container {
    margin: 0 auto;
    max-width: 1020px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.text-container {
    margin-bottom: 50px;

    h1 {
        font-size: 2.5rem;
        color: #414a4f;
        font-weight: 900;
    }
}

.img-container {
    padding: 0 20px;
    float: left;
    display: flex;
    flex-direction: row;

    p {
        margin-left: 60px;
        text-align: left;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #636366;
        font-weight: 330;
    }
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 10rem;
}

