.contact-wrap {
    width: 100%;
    min-height: 800px;
    border-bottom: 1px solid #ddd;
    // padding:
}

.contact-text {
    padding: 100px 96px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;

    h1 {
        color: black;
        font-size: 2.5rem;
    }

    h2 {
        color: #838C95;
        margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: 150;
    }
}