@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.nav-wrap {
    letter-spacing: 2.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #263443;
    min-height: 80px;
}

.logo {
    padding: 12px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo svg {
    font-size: 30px;
    color: sandybrown;
}

.logo span {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.nav-menu {
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-menu li {
    padding: 12px 24px;
    
    a {
        text-decoration: none;
        color: white;
        font-family: 'Noto Sans', sans-serif;
    }
    &:hover {
        color: #263443;
        background-color: sandybrown;
        cursor: pointer;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        border-radius: 4px;
    }
}

.toggle-button {
    display: none;
    color: white;
    // padding: 12px px;
    font-size: 20px;
    position: absolute;
    right: 25px;
}

.toggle-show {
    display: inline-block;
}

@media screen and (max-width: 1000px) {
    .nav-wrap {
        flex-direction: column;
        // justify-content: flex-start;
        align-items: flex-start;
    }

    .nav-menu {
        display: none;
        width: 100%;
        align-self: center;
        flex-direction: column;
        li {
            width: 100%;
        }
    }

    .nav-item {
        display: block;
        width: 100%;
    }

    .toggle-button {
        display: inline;
    }
}
