@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

.nav-wrap {
  width: 100%;
  background-color: #263443;
  position: sticky;
  padding-top: 13px;
  padding-bottom: 13px;
  z-index: 2;
}

.nav-container {
  margin: 0 auto;
  max-width: 1000px;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo svg {
  font-size: 22px;
  color: sandybrown;
}

.logo span {
  font-family: "Special Elite", cursive;
  font-size: 16px;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  padding-top: 5px;
}

.nav-menu {
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

.nav-menu li {
  padding: 8px 18px;
  font-size: 0.9rem;
  font-weight: bold;

  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    color: #263443;
    background-color: sandybrown;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    border-radius: 4px;
  }
}

.toggle-button {
  display: none;
  color: white;
  font-size: 20px;
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .nav-menu {
    width: 100%;
    align-self: center;
    flex-direction: column;
    display: none;

    li {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      margin: 0;
    }
  }

  .nav-item {
    width: 100%;
  }

  .toggle-button {
    display: block;
  }

  .toggle-show {
    display: block;
  }
}
