.home {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    height: 1000px;
    background-color: black;
    text-align: center;
    min-height: 500px;
    background: #161415 url('../images/background2.jpg') no-repeat top center;
    overflow: hidden;
}

.nav-wrap {
    width: 100%;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.nav-list {
    min-height: 70px;
    width: 100%;
    list-style: none;
    text-align: center;
    background-color: rgba(0,0,0, 0.6);
    width: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.nav-item {
    margin-right: 4rem;
    color: white;
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    
    &:hover {
        color: #7510F7;
        cursor: pointer;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        font-weight: 200;
    }
}

.banner {
    
    display: inline-block;
    position: relative;
    top: 170px;
    vertical-align: middle;
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color:rgba(0,0,0, 0.6);
    border-radius: 2em;
    color: white;
    max-height: 500px;
    overflow: hidden;
}

.banner-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    h1 {
        
        font-size: 5rem;
    }

    hr {
        width: 60%;
        margin: 18px auto 24px auto;
        border-color: rgba(150, 150, 150, .5);
    }

    h3 {
        padding: 10px 80px;
        font-size: 2rem;
        font-weight: 200;
        line-height: 1.6;
    }
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    list-style-type: none;
    color: white;

    li a {
        color: white;
        padding-left: 1.5rem;
    }  
}