.image-container {
    display: block;
    width: 100%;
    height: 400px;
    background: url('../images/background2.jpg') no-repeat center center /cover;
}

.text-container {
    padding: 30px 50px;

    h1 {
        font-size: 22pt;
        line-height: 2rem;
        color: #444;
        margin-bottom: 10px;
    }

    p {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: #636366;
        font-size: 11pt;
        font-weight: 300;
    }
}

.tech-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    list-style-type: none;

    li {
        text-align: left;
    }
}

.close-modal {
    width: 100%;
    margin-top: 80px;
    cursor: pointer;
    right: 25px;
    font-size: 20px;
    position: relative;
    color: #636366;
}