.modal {
    background: white;
    max-width: 600px;
    min-height: 600px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border: none;
}

.first-image-container {
    display: block;
    width: 100%;
    height: 400px;
    background: url('../images/background2.jpg') no-repeat center center /cover;
}

.second-image-container {
    display: block;
    width: 100%;
    height: 400px;
    background: url('../images/background.jpg') no-repeat center center /cover;
}

.text-container {
    padding: 30px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
        font-size: 22pt;
        line-height: 2rem;
        color: #444;
        margin-bottom: 10px;
    }

    p {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: #636366;
        font-size: 11pt;
        font-weight: 300;
    }

    button {
        margin-top: 3rem;
        padding: 12px 24px;
        border: none;
        color: white;
        background-color: #263443;
        font-size: 1.2rem;
        font-weight: 350;
        outline: none;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: sandybrown;
            transition: all .5s ease-in-out;
        }
    }
}

.tech-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    list-style-type: none;

    li {
        text-align: left;
    }
}

.close-modal {
    position: absolute;
    right: 35px;
    bottom: 35px;
    cursor: pointer;
    font-size: 20px;
    color: #636366;
}

@media screen and (max-width: 837px) {
    .modal {
        width: 450px;
    }

    .tech-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

