@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

.modal-container {
  width: 90%;
}

.modal {
  background: white;
  width: 800px;
  min-height: 500px;
  height: 95%;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  border: none;
}

.first-image-container {
  display: block;
  width: 100%;
  min-height: 400px;
  background: url("../images/football-stat-screen.png") no-repeat center center /
    cover;
  border-bottom: 1px solid #444;
}

.second-image-container {
  display: block;
  width: 100%;
  min-height: 400px;
  background: url("../images/keyword_screen.png") no-repeat center center /
    cover;
  border-bottom: 1px solid #444;
}

.third-image-container {
  display: block;
  width: 100%;
  min-height: 400px;
  background: url("../images/move_screen.png") no-repeat center center / cover;
  border-bottom: 1px solid #444;
}

.text-container {
  padding: 30px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1 {
    font-size: 22pt;
    line-height: 2rem;
    color: #444;
    margin-bottom: 10px;
  }

  p {
    padding-bottom: 5px;
    color: #636366;
    font-size: 11pt;
    font-weight: 300;
    font-family: "Noto Sans KR", sans-serif;
  }

  button {
    margin-top: 3rem;
    padding: 12px 24px;
    border: none;
    color: white;
    background-color: #263443;
    font-size: 1.2rem;
    font-weight: 300;
    outline: none;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: sandybrown;
      transition: all 0.5s ease-in-out;
    }
  }
}

.text-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  h1 {
    font-size: 1.6rem;
  }
  p {
    font-size: 0.9rem;
  }
}

.tech-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 7px;
  list-style-type: none;
  font-family: "Noto Sans KR", sans-serif;

  li {
    padding: 10px 10px;
    border: 1px solid #444;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
  }
}

.site-button {
  display: flex;

  a {
    button {
      min-height: 50px;
      font-size: 1rem;
    }
  }
}

.code-button {
  margin-left: 20px;
  text-decoration: none;
  button {
    display: flex;
    align-items: center;
    span {
      margin: 0px 0px 0px 5px;
    }
  }
}

.close-modal {
  position: absolute;
  right: 35px;
  bottom: 35px;
  cursor: pointer;
  font-size: 20px;
  color: #636366;
}

@media screen and (max-width: 837px) {
  .modal {
    width: 90%;
  }

  .tech-list {
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.9rem;
  }
  .site-button {
    a {
      button {
        font-size: 1rem;
      }
    }
  }

  .close-modal {
    font-size: 15px;
  }
}
