.portfolio-wrap {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.portfolio-text {
    padding: 100px 96px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;

    h1 {
        color: #414a4f;
        font-size: 2.5rem;
        font-weight: 900;
    }

    h2 {
        color: #636366;
        margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: 330;
        line-height: 1.5;
    }
}

.portfolio-list {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}

.portfolio-item {
    width: 100%;
    height: 300px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    border-radius: 1rem;
    // transition: all 2s ease-in-out;
    margin: 0 auto;
    position: relative;

    &:hover {
        .text-container {
            z-index: 1;
            // transition: all 0.3s ease-in-out;
            // transition: all .2s ease-in-out;
        }
    }
}

.portfolio-image {
    background: url(https://images.unsplash.com/photo-1590574744351-1fbfdf036906?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60) center center/cover;
    width: 100%;
    height: 100%;
    // transition: opacity 0.5s;
}

.text-container {
    width: 100%;
    height: 100%;
    background: coral;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: -1;
    transition: all .5s ease-in-out;

    .text {
        color: #1b242f;
        text-align: center;
        // transition: all 0.3s ease-in-out;
        // z-index: 1;
    }
    
    .button {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        width: 170px;
        padding: 7px 0;
        // transition: all 0.3s ease-in-out;
        // z-index: 1;
        font-size: 13pt;
        color: 1b242f;
        text-align: center;
        border: 2px solid #e316bd;
    }
}


@media screen and (max-width: 837px) {
    .portfolio-list {
        grid-template-columns: repeat(2, 1fr);
    }
}