.portfolio-wrap {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.portfolio-text {
    padding: 100px 96px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;

    h1 {
        color: #414a4f;
        font-size: 2.5rem;
        font-weight: 900;
    }

    h2 {
        color: #636366;
        margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: 330;
        line-height: 1.5;
    }
}

.portfolio-list {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}

.portfolio-item {
    width: 100%;
    max-width: 450px;
    height: 300px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    border-radius: 1rem;
    margin: 0 auto;
    position: relative;
    opacity: 1;

    &:hover {
        .text-container {
            opacity: 1;
        }
    }
}

.portfolio-image {
    background: url(https://images.unsplash.com/photo-1590574744351-1fbfdf036906?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60) center center/cover;
    width: 100%;
    height: 100%;
}

.text-container {
    width: 100%;
    height: 100%;
    background: #263443;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-in-out;

    .text {
        color: white;
        text-align: center;

        h2 {
            font-size: 2rem;
            font-weight: 300;
        }

        p {
            font-size: 1.2rem;
            font-weight: 300;
            color: sandybrown;
        }
    }
    
    .button {
        width: 170px;
        margin-top: 30px;
        padding: 12px 12px;
        font-size: 13pt;
        color: sandybrown;
        background-color: #263443;
        text-align: center;
        border: 1px solid sandybrown;
        outline: 0;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: #000000;
            transition: all .5s ease-in-out;
        }
    }
}


@media screen and (max-width: 1430px) {
    .portfolio-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1125px) {
    .portfolio-list {
        grid-template-columns: repeat(1, 1fr);
    }
}