.portfolio-wrap {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 1000px;
    border-bottom: 1px solid #ddd;
}

.portfolio-text {
    padding: 100px 96px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;

    h1 {
        color: #414a4f;
        font-size: 2.5rem;
        font-weight: 900;
    }

    h2 {
        color: #636366;
        margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: 330;
        line-height: 1.5;
    }
}

.portfolio-list {
    padding: 24px 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
}

.portfolio-item {
    width: 100%;
    height: 300px;  
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    border-radius: 1rem;
}