.tech-wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    margin: 0 auto;
}

.tech-text-container {
    width: 100%;
    height: 300px;
    background-color: white;
}

.tech-text {
    padding: 100px 96px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;

    h1 {
        color: #414a4f;
        font-size: 2.5rem;
        font-weight: 900;
    }

    h2 {
        color: #636366;
        margin-top: 2rem;
        font-size: 1.4rem;
        font-weight: 330;
        line-height: 1.5;
    }
}

