@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

.tech-wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  margin-top: 120px;
}

.tech-text-container {
  margin: 0 auto;
  background-color: white;
}

.tech-text {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;

  h1 {
    color: #414a4f;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 800px) {
  .tech-text {
    h1 {
      font-size: 1.5rem;
    }
  }
}
