.tech-list-wrap {
    width: 100%;
    height: 600px;
    border-bottom: 1px solid #ddd;
}

.tech-title {
    position: relative;
    top: -310px;
    width: 90%;
    text-align: middle;
    color: #838C95;;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 2rem;
    h1 {
        min-width: 1200px;
        border-bottom: 0.1px dotted #ddd;
        min-height: 1rem;
        padding-bottom: 0.6rem;
        font-weight: 350;
    }
}


.tech-list {
    padding: 24px 96px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    position: relative;
    top: -310px;
}

.tech-item {
    width: 240px;
    background: white;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    // border: 1px solid gray;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    height: 160px;   
    margin: 0 auto;
}

.tech-wrap {
    padding: 5px 30px;
}

.img-container {
    height: 100px;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    

    img {
        width: 100px;
        max-height: 70px;
    }
}

.text-container {
    margin-top: 0.6rem;

    h3 {
        font-size: 1.4rem;
        font-weight: 330;
    }
}