.tech-list-wrap {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 100px;
  margin-bottom: 20px;
}

.tech-list-container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.tech-title {
  position: relative;
  width: 90%;
  text-align: middle;
  color: #636366;
  font-size: 1.1rem;
  margin: 0 auto;
  margin-top: 3rem;

  h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 0.1px dotted #ddd;
    min-height: 1rem;
    padding-bottom: 0.6rem;
    font-weight: 350;
  }
}

.tech-list {
  width: 90%;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
}

.tech-item {
  width: 10.5rem;
  background: white;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  height: 130px;
  margin: 0 auto;
}

.tech-wrap {
  padding: 2px 12px;
}

.img-container {
  height: 90px;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80px;
    max-height: 55px;
    display: flex;
    justify-items: center;
  }
}

.text-container {
  h3 {
    font-size: 0.9rem;
    font-weight: 340;
    color: #636366;
  }
}

@media screen and (max-width: 1150px) {
  .tech-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 786px) {
  .tech-title {
    font-size: 0.9rem;
  }
  .tech-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .text-container {
    h3 {
      font-size: 0.8rem;
    }
  }
}
