@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.tech-wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    margin-top: 120px;
    
}

.tech-text-container {
    margin: 0 auto;
    background-color: white;
}

.tech-text {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;

    h1 {
        color: #414a4f;
        font-size: 2.5rem;
        font-weight: 900;
        letter-spacing: 2px;
    }

    p {
        color: #636366;
        margin-top: 2rem;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.5;
        font-family: 'Noto Sans KR', sans-serif;
    }
}


@media screen and (max-width: 1000px) {
    .tech-text {
        p {
            font-size: 1.1rem;
        }
    }
}

